<div class="container footer"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutWrap
     fxLayoutGap="10px">

    <div fxFlex="100%" fxFlex.gt-sm="50%">
        <div class="container" fxLayout="row">
            <div fxFlex="40" fxFlexOffset="20px">
                <h4>Links</h4>
                <mat-list>
                    <mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>
                    <mat-list-item><a mat-button routerLink="/aboutus">About</a></mat-list-item>
                    <mat-list-item><a mat-button routerLink="/catalog">Catalog</a></mat-list-item>
                    <mat-list-item><a mat-button routerLink="/contactus">Contact</a></mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="50">
                <h4>Our Address</h4>
                <address style="text-size: 80%">
                    121, Dr. Drive <br> San Jose, California<br> MOUNTAIN VIEW<br>
                    <i class="fa fa-phone"></i>: +1 1234 5678<br>
                    <i class="fa fa-fax"></i>: +1 8765 4321<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:ssi@food.net">ssi@food.net</a>
                </address>
            </div>
        </div>
    </div>
    <div fxFlex="100%" fxFlex.gt-sm="45%">
        <div style="text-align:center">
            <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i
                    class="fa fa-google-plus fa-lg"></i></a>
            <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i
                    class="fa fa-facebook fa-lg"></i></a>
            <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i
                    class="fa fa-linkedin fa-lg"></i></a>
            <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
            <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
            <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
        </div>
    </div>
</div>
