<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Catalogo</h3>
            <hr>
        </div>
    </div>

    <div fxFlex *ngIf="items">
        <mat-grid-list cols="2" [rowHeight]="'200px'">
            <mat-grid-tile *ngFor="let item of items" [routerLink]="['/itemdetail', item.id]" (click)="onSelect(item)">
                <img height="200px" src={{item.image}} alt={{item.name}}>
                <mat-grid-tile-footer>
                    <h1 mat-line>{{item.name | uppercase}}</h1>
                </mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div [hidden]="items">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>

</div>