<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="50">
    <div fxFlex *ngIf="employee">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>
            <h3>{{employee.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-title-group>
        <img matCardImage src={{employee.image}} alt={{employee.name}}>
        <mat-card-content>
          <p>{{employee.jobDescription}}
          </p>
        </mat-card-content>
        <mat-card-actions align="start">
          <button mat-button [routerLink]="['/profile', prev]"><span
            class="fa fa-chevron-left fa-lg"></span></button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/profile', next]"><span
            class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="50" *ngIf="employee">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          <h3>{{employee.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <p matLine>{{employee.firstName}}  -  {{employee.lastName}}</p>
        <p matLine>{{employee.jobDescription}}</p>
        <p matLine>{{employee.jobCode}}</p>
        <p matLine>{{employee.jobPosition}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
